<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="DAOLL.Properties.Settings.NhaHangConnectionString"
            connectionString="Data Source=DESKTOP-ELPES6T\ANHDAI;Initial Catalog=QL_NhaHang;Persist Security Info=True;User ID=sa;Password=anhdailaso1"
            providerName="System.Data.SqlClient" />
        <add name="NhaHang.Properties.Settings.NhaHangConnectionString"
            connectionString="Data Source=DESKTOP-ELPES6T\ANHDAI;Initial Catalog=NhaHang;Persist Security Info=True;User ID=sa;Password=anhdailaso1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>